.main-div{
  text-align: center;
  box-shadow: 0px 0px 20px lightgray;
  background-color: burlywood;
  padding: 50px;
  margin: 100px 300px;

}
.minus{
  padding: 5px 10px;
  font-size: 20px;
}
.plus{
  padding: 5px 10px;
  font-size: 20px;
}

.input{
  outline: none;
  padding: 10px 10px;
}
.calculate{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.date{
  color: white;
  font-size: 30px;
}
.reset{
  padding: 5px 10px;
  font-size: 20px;
}
.value{
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}